.chat-bot {
    display: none;
    @include tab {
        display: block;
        position: fixed;
        z-index: 20;
        bottom: 15px;
        right: 10px;
        width: 85px;
        height: 28px;
        line-height: 28px;
        margin: 0 auto;
        font-size: 14px;
        border-radius: 15px;
        color: #fff;
        background-color: #007ae3;
        text-align: center;
        box-shadow: 0 0 16px rgba(0,0,0,.3);
    }
}
