// news-gnb

.news-gnb {
    font-family: 'Nanum Gothic';
    font-size: 14px;
    height: 48px;
    position: relative;
    overflow: hidden;
    .logo-wrap {
        float: left;
        margin-top: 8px;
        @include mo {
            margin-left: 5px; 
        }
        a {
            display: block;
            width: 105px;
            height: 27px;
            background: url(../../assets/images/icon/icon_set.png) no-repeat -5px -165px;
        }
    }
}

.news-gnb {
    .notice {
        position: absolute;
        left: 179px;
        right: 290px;
        line-height: 48px;
        text-align: center;
        @include mo {
            display: none;
        }
        a {
            &:first-child {
                font-size: 14px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 19px;
                height: 17px;
                margin: -7px 0 0 0;
                padding: 0;
                background: url(../../assets/images/icon/icon_set2.png) no-repeat -1px -42px;
            }
            &:nth-child(2) {
                color: #575757;
            } 
        }
        @include tab {
            display: none;
        }
    }
}

.news-gnb {
    .news-list {
        // position: absolute;
        float: right;
        line-height: 48px;
        a {
            padding: 0 8.5px;
            font-weight: 700;
            color: #575757;
            float: left;
            line-height: 48px;
            @include mo {
                padding: 0 4px;
            }
        }
    }
}

// reser-gnb
.reser-gnb-wrap {
    height: 60px;
    background: url(../../assets/images/content/bg_top.jpg) no-repeat center top;
}

.reser-gnb-wrap {
    .reser-content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.reser-gnb-wrap {
    position: relative;
    .logo {
        a.pc-logo {
            display: block;
            height: 100%;
            img {
                height: 20px;
            }
            @include tab {
                display: none;
            }
        }
        a.mo-hamburger {
            display: none;
            @include tab {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: 10;
                width: 70px;
                height: 60px;
                background: url(../../assets/images/icon/m_menu.png) no-repeat center;
                background-size: 40px auto;
            }
        }
    }
}

.reser-gnb-wrap {
    .reservation {
        padding-left: 10%;
        a{ 
            display: block;
            width: 182px;
            height: 60px;
            background: url(../../assets/images/logo/service_logo.png) no-repeat center;
            @include mo {
                width: 140px;
                background-size: 100% !important;
                background: url(../../assets/images/logo/m_service_logo.png) no-repeat center;
            }
        }
    }
}

.reser-gnb-wrap {
    .reser-content-wrap {
        .reser-user {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-family: 'Noto Sans KR';
        }
        .reser-state {
            @include tab {
                display: none;
            }
        }
        .search-wrap {
            position: relative;
            .search {
                background: url(../../assets/images/icon/search.png) no-repeat center;
                width: 56px;
                height: 60px;
                display: inline-block;
                vertical-align: top;
                @include tab {
                    background: url(../../assets/images/icon/m_search.png) no-repeat center;
                }
            }
            .search-on {
                display: none;
                position: absolute;
                top: 60px;
                z-index: 10;
                right: 0;
                width: 380px;
                border-width: 0;
                background: #d6e0ea;
                padding: 9px 13px;
                height: 60px;
                border-radius: 0;
                box-shadow: 12px 12px 26px rgba(0,0,0,.2);
                input {
                    border : none;
                    line-height: 42px;
                    width: 100%;
                    font-size: 16px;
                    text-indent: 10px;
                    padding: 0 0;
                }
                button {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    border: none;
                    margin-top: -22px;
                    width: 44px;
                    height: 44px;
                    cursor: pointer;
                    background: url(../../assets/images/icon/search_on.png) center no-repeat;
                }
                &::before {
                    position: absolute;
                    bottom: 100%;
                    right: 18px;
                    display: block;
                    border-bottom: 10px solid #d6e0ea;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    content: '';
                }
                @include tab {
                    width: 100vw;
                }
            }
        }
    }
}

