// news-gnb

.news-gnb {
    font-family: 'Nanum Gothic';
    font-size: 14px;
    height: 48px;
    position: relative;
    overflow: hidden;
    .logo-wrap {
        float: left;
        margin-top: 8px;
        @include mo {
            margin-left: 5px; 
        }
        a {
            display: block;
            width: 105px;
            height: 27px;
            background: url(../../assets/images/icon/icon_set.png) no-repeat -5px -165px;
        }
    }
}

.news-gnb {
    .notice {
        position: absolute;
        left: 179px;
        right: 290px;
        line-height: 48px;
        text-align: center;
        @include mo {
            display: none;
        }
        a {
            &:first-child {
                font-size: 14px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 19px;
                height: 17px;
                margin: -7px 0 0 0;
                padding: 0;
                background: url(../../assets/images/icon/icon_set2.png) no-repeat -1px -42px;
            }
            &:nth-child(2) {
                color: #575757;
            } 
        }
        @include tab {
            display: none;
        }
    }
}

.news-gnb {
    .news-list {
        // position: absolute;
        float: right;
        line-height: 48px;
        a {
            padding: 0 8.5px;
            font-weight: 700;
            color: #575757;
            float: left;
            line-height: 48px;
            @include mo {
                padding: 0 4px;
            }
        }
    }
}

// reser-gnb
.reser-gnb-wrap {
    height: 60px;
    background: url(../../assets/images/content/bg_top.jpg) no-repeat center top;
}

.reser-gnb-wrap {
    .reser-content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.reser-gnb-wrap {
    position: relative;
    .logo {
        a.pc-logo {
            display: block;
            height: 100%;
            img {
                height: 20px;
            }
            @include tab {
                display: none;
            }
        }
        a.mo-hamburger {
            display: none;
            @include tab {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: 10;
                width: 70px;
                height: 60px;
                background: url(../../assets/images/icon/m_menu.png) no-repeat center;
                background-size: 40px auto;
            }
        }
    }
}

.reser-gnb-wrap {
    .reservation {
        padding-left: 10%;
        a{ 
            display: block;
            width: 182px;
            height: 60px;
            background: url(../../assets/images/logo/service_logo.png) no-repeat center;
            @include mo {
                width: 140px;
                background-size: 100% !important;
                background: url(../../assets/images/logo/m_service_logo.png) no-repeat center;
            }
        }
    }
}

.reser-gnb-wrap {
    .reser-content-wrap {
        .reser-user {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-family: 'Noto Sans KR';
        }
        .reser-state {
            @include tab {
                display: none;
            }
        }
        .search-wrap {
            position: relative;
            .search {
                background: url(../../assets/images/icon/search.png) no-repeat center;
                width: 56px;
                height: 60px;
                display: inline-block;
                vertical-align: top;
                @include tab {
                    background: url(../../assets/images/icon/m_search.png) no-repeat center;
                }
            }
            .search-on {
                display: none;
                position: absolute;
                top: 60px;
                z-index: 10;
                right: 0;
                width: 380px;
                border-width: 0;
                background: #d6e0ea;
                padding: 9px 13px;
                height: 60px;
                border-radius: 0;
                box-shadow: 12px 12px 26px rgba(0,0,0,.2);
                input {
                    border : none;
                    line-height: 42px;
                    width: 100%;
                    font-size: 16px;
                    text-indent: 10px;
                    padding: 0 0;
                }
                button {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    border: none;
                    margin-top: -22px;
                    width: 44px;
                    height: 44px;
                    cursor: pointer;
                    background: url(../../assets/images/icon/search_on.png) center no-repeat;
                }
                &::before {
                    position: absolute;
                    bottom: 100%;
                    right: 18px;
                    display: block;
                    border-bottom: 10px solid #d6e0ea;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    content: '';
                }
                @include tab {
                    width: 100vw;
                }
            }
        }
    }
}

//gnb 

.gnb {
    height: 60px;
    position: relative;
    background-color: #fff;
    .dept-wrap {
        .dept {
            margin: 0 -78px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >li {
                width: 16.6666%;
                >a{
                    display: block;
                    font-family: 'Noto Sans KR';
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 60px;
                    text-align: center;
                    &:hover span{
                        color: #0379d5;
                        border-bottom: 4px solid #0379d5;
                        @include tab {
                            border-bottom: none;
                        }
                    }
                    @include tab { 
                        text-align: left;
                        padding: 0 30px 0 15px;
                        line-height: 48px;
                    }
                }
            }
            @include tab {
                margin: inherit;
            }
        }
    }
}

// sub-dept

.gnb {
    font-family: 'Noto Sans KR';
    .sub-dept {
        background-color: #fff;
        top: 60px;
        left: 0;
        position: absolute;
        width: 100%;
        // min-height: 250px;
        transition: .5s;
        height: 0;
        overflow: hidden;
        opacity: 0;
        @include tab {
            box-shadow: inherit;
        }
        .gnb-text {
            position: absolute;
            height: 400px;
            width: calc(30% - 20px);
            padding: 30px 30px 0 0;
            margin-right: 20px; 
            text-align: right;
            color: #fff;
            background: #eee url(../../assets/images/content/nav_sub.jpg) no-repeat;
            h3 {
                font-size: 24px;
            }
            span {
                font-size: 14px;
                display: block;
                padding-top: 10px;
            }
            @include tab {
                display: none;
            }
        }
        >ul {
            width: 100%;
            overflow: hidden;
            padding: 25px 25px 25px 30%;
            min-height: 250px;
            border-top: 1px solid #ddd;
            li {
                float: left;
                width: 180px;
                margin: 8px;
                @include tab {
                    margin: inherit;
                    padding-left: 10px;
                    position: relative;
                    width: calc(50% - 8px);
                    &:after { 
                        display: block;
                        content: "";
                        width: 3px;
                        height: 3px;
                        position: absolute;
                        left: 0;
                        top: 14px;
                        background: #555;
                    }
                }
                a {
                    display: block;
                    line-height: 40px;
                    border: 1px solid #ddd;
                    color: #444;
                    text-align: center;
                    &:hover {
                        border-color: #0379d5;
                        color: #0379d5;
                    }
                    @include tab {
                        border: inherit;
                        font-size: 16px;
                        line-height: 30px;
                        text-align: left;
                    }
                }
            }
            @include tab {
                padding: 20px;
                background: #f8f8f8;
                min-height: auto;
            }
        }
        @include tab {
            position: inherit;
            height: 0;
            overflow: hidden;
            transition: .3s;
            opacity: 1;
        }
    }
    .sub-dept.h310 {
        transition: 0s;
        // box-shadow: 0 20px 20px rgba(0,0,0,.1);
    }
}


// gnb mobile

.mo-menu {
    font-family: 'Noto Sans KR';
    position: relative;
    z-index: 10;
    @include tab {
    }
    .mo-menu-open {
        @include tab {
            position: absolute;
            left: 100%;
            top: -48px;
            z-index: 10;
            width: 100%;
            height: 100vh;
            min-height: 100%;
            background-color: #fff;
            transition: all .5s;
            &::before {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                content: "";
                z-index: -1;
                width: 100%;
                height: 200px;
                background: linear-gradient(to bottom right, #07a1b0, #269bce, #9948f9);
            }
        }
        .mo-logo {
            display: none;
            @include tab {
                display: block;
                margin: 25px 15px;
                background: url(../../assets/images/logo/service_logo.png) no-repeat left center;
                background-size: auto 30px;
                height: 34px;
                width: 150px;
                margin-bottom: 35px;
            }
        }
        .mo-user {
            display: none;
            @include tab {
                display: block;
                margin-left: 10px;
                height: 50px;
            }
        }
        h3.mo-login-text {
            display: none;
            @include tab {
                display: block;
                background: #fff;
                padding: 25px 20px;
                border-radius: 15px 15px 0 0;
                color: #555;
            }
        }
        .mo-only {
            display: none;
            background-color: #fff;
            @include tab {
                display: block;
                .mo-quick {
                    overflow: hidden;
                    display: block;
                    margin-bottom: 15px;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    li {
                        float: left;
                        width: 20%;
                        text-align: center;
                        font-size: 12px;
                        border-right: 1px solid #ddd;
                        font-weight: 500;
                        a {
                            display: block;
                            padding: 15px 2px;
                            img {
                                display: block;
                                margin: 0 auto 5px;
                            }
                        }
                    }
                }
            }
        }
        .gnb {
            .dept-wrap {
                .dept {
                    @include tab {
                        background: #fff;
                        flex-direction: column;
                        padding: 0 30px 0 15px;
                        .dept-list {
                            border-bottom: 1px solid #ccc;
                            width: 100%;
                            >a.dept-header {
                                padding: 0 30px 0 15px;
                                text-align: left;
                                background: url(../../assets/images/icon/gnb_down.png) no-repeat right center;
                                background-size: 14px auto;
                                margin-right: 15px;
                            }
                            >.dept-header.active {
                                background: url(../../assets/images/icon/gnb_up.png) no-repeat right center;
                                background-size: 14px auto;
                                height: auto;
                                span {
                                    color: #0379d5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mo-btn-close {
        @include tab {
            position: absolute;
            right: 15px;
            top: 20px;
            width: 30px;
            height: 30px;
            background: url(../../assets/images/icon/btn_close.png) no-repeat center;
            background-size: auto 20px;
        }
    }
}
