// news-gnb

.news-gnb {
    font-family: 'Nanum Gothic';
    font-size: 14px;
    height: 48px;
    position: relative;
    overflow: hidden;
    .logo-wrap {
        float: left;
        margin-top: 8px;
        @include mo {
            margin-left: 5px; 
        }
        a {
            display: block;
            width: 105px;
            height: 27px;
            background: url(../../assets/images/icon/icon_set.png) no-repeat -5px -165px;
        }
    }
}

.news-gnb {
    .notice {
        position: absolute;
        left: 179px;
        right: 290px;
        line-height: 48px;
        text-align: center;
        @include mo {
            display: none;
        }
        a {
            &:first-child {
                font-size: 14px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 19px;
                height: 17px;
                margin: -7px 0 0 0;
                padding: 0;
                background: url(../../assets/images/icon/icon_set2.png) no-repeat -1px -42px;
            }
            &:nth-child(2) {
                color: #575757;
            } 
        }
    }
}

.news-gnb {
    .news-list {
        position: absolute;
        line-height: 48px;
        right: 0;
        a {
            padding: 0 8.5px;
            font-weight: 700;
            color: #575757;
            display: inline-block;
            line-height: 48px;
        }
    }
}

// reser-gnb
.reser-gnb-wrap {
    height: 60px;
    background: url(../../assets/images/content/bg_top.jpg) no-repeat center top;
}
.reser-gnb-wrap {
    .reser-content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.reser-gnb-wrap {
    position: relative;
    .logo {
        a.pc-logo {
            display: block;
            height: 100%;
            img {
                height: 20px;
            }
            @include tab {
                display: none;
            }
        }
        a.mo-menu {
            display: none;
            @include tab {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: 10;
                width: 70px;
                height: 60px;
                background: url(../../assets/images/icon/m_menu.png) no-repeat center;
                background-size: 40px auto;
            }
        }
    }
}

.reser-gnb-wrap {
    .reservation {
        padding-left: 10%;
        a{ 
            display: block;
            width: 182px;
            height: 60px;
            background: url(../../assets/images/logo/service_logo.png) no-repeat center;
            @include mo {
                width: 140px;
                background-size: 100% !important;
                background: url(../../assets/images/logo/m_service_logo.png) no-repeat center;
            }
        }
    }
}

.reser-gnb-wrap {
    .reser-user {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-family: 'Noto Sans KR';
    }
    .reser-state {
        @include tab {
            display: none;
        }
    }
    .search {
        background: url(../../assets/images/icon/search.png) no-repeat center;
        width: 56px;
        height: 60px;
        @include tab {
            background: url(../../assets/images/icon/m_search.png) no-repeat center;
        }
    }
}

