//gnb 

.gnb {
    height: 60px;
    position: relative;
    background-color: #fff;
    .dept-wrap {
        .dept {
            margin: 0 -78px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >li {
                width: 16.6666%;
                >a{
                    display: block;
                    font-family: 'Noto Sans KR';
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 60px;
                    text-align: center;
                    &:hover span{
                        color: #0379d5;
                        border-bottom: 4px solid #0379d5;
                        @include tab {
                            border-bottom: none;
                        }
                    }
                    @include tab { 
                        text-align: left;
                        padding: 0 30px 0 15px;
                        line-height: 48px;
                    }
                }
            }
        }
    }
}

// sub-dept

.gnb {
    font-family: 'Noto Sans KR';
    .sub-dept {
        background-color: #fff;
        top: 60px;
        left: 0;
        position: absolute;
        width: 100%;
        // min-height: 250px;
        transition: .5s;
        height: 0;
        overflow: hidden;
        .gnb-text {
            position: absolute;
            height: 400px;
            width: calc(30% - 20px);
            padding: 30px 30px 0 0;
            margin-right: 20px; 
            text-align: right;
            color: #fff;
            background: #eee url(../../assets/images/content/nav_sub.jpg) no-repeat;
            h3 {
                font-size: 24px;
            }
            span {
                font-size: 14px;
                display: block;
                padding-top: 10px;
            }
            @include tab {
                display: none;
            }
        }
        >ul {
            width: 100%;
            overflow: hidden;
            padding: 25px 25px 25px 30%;
            min-height: 250px;
            border-top: 1px solid #ddd;
            li {
                float: left;
                width: 180px;
                margin: 8px;
                @include tab {
                    margin: inherit;
                    padding-left: 10px;
                    position: relative;
                    width: calc(50% - 8px);
                    &:after { 
                        display: block;
                        content: "";
                        width: 3px;
                        height: 3px;
                        position: absolute;
                        left: 0;
                        top: 14px;
                        background: #555;
                    }
                }
                a {
                    display: block;
                    line-height: 40px;
                    border: 1px solid #ddd;
                    color: #444;
                    text-align: center;
                    &:hover {
                        border-color: #0379d5;
                        color: #0379d5;
                    }
                    @include tab {
                        border: inherit;
                        font-size: 16px;
                        line-height: 30px;
                        text-align: left;
                    }
                }
            }
            @include tab {
                padding: 20px;
                background: #f8f8f8;
                min-height: auto;
            }
        }
        @include tab {
            position: inherit;
            height: 0;
            overflow: hidden;
            transition: .3s;
        }
    }
}


// gnb mobile

.mo-menu {
    font-family: 'Noto Sans KR';
    @include tab {
    }
    .mo-menu-open {
        @include tab {
            position: absolute;
            top: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: #fff;
            &::before {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                content: "";
                z-index: -1;
                width: 100%;
                height: 200px;
                background: linear-gradient(to bottom right, #07a1b0, #269bce, #9948f9);
            }
        }
        .mo-logo {
            display: none;
            @include tab {
                display: block;
                margin: 25px 15px;
                background: url(../../assets/images/logo/service_logo.png) no-repeat left center;
                background-size: auto 30px;
                height: 34px;
                width: 150px;
                margin-bottom: 35px;
            }
        }
        .mo-user {
            display: none;
            @include tab {
                display: block;
                margin-left: 10px;
                height: 50px;
            }
        }
        h3.mo-login-text {
            display: none;
            @include tab {
                display: block;
                background: #fff;
                padding: 25px 20px;
                border-radius: 15px 15px 0 0;
                color: #555;
            }
        }
        .mo-only {
            display: none;
            @include tab {
                display: block;
                .mo-quick {
                    overflow: hidden;
                    display: block;
                    margin-bottom: 15px;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    li {
                        float: left;
                        width: 20%;
                        text-align: center;
                        font-size: 12px;
                        border-right: 1px solid #ddd;
                        font-weight: 500;
                        a {
                            display: block;
                            padding: 15px 2px;
                            img {
                                display: block;
                                margin: 0 auto 5px;
                            }
                        }
                    }
                }
            }
        }
        .gnb {
            .dept-wrap {
                .dept {
                    margin: inherit;
                    @include tab {
                        background: #fff;
                        flex-direction: column;
                        padding: 0 30px 0 15px;
                        .dept-list {
                            border-bottom: 1px solid #ccc;
                            width: 100%;
                            >a.dept-header {
                                padding: 0 30px 0 15px;
                                text-align: left;
                                background: url(../../assets/images/icon/gnb_down.png) no-repeat right center;
                                background-size: 14px auto;
                                margin-right: 15px;
                            }
                            >.dept-header.active {
                                background: url(../../assets/images/icon/gnb_up.png) no-repeat right center;
                                background-size: 14px auto;
                                height: auto;
                                span {
                                    color: #0379d5;
                                }
                            }
                        }
                    }
                    @include tab {
                        box-shadow: 0 20px 20px rgba(0,0,0,.1)
                    }
                }
            }
        }
    }
    .mo-btn-close {
        position: absolute;
        right: 15px;
        top: 20px;
        width: 30px;
        height: 30px;
        background: url(../../assets/images/icon/btn_close.png) no-repeat center;
        background-size: auto 20px;
    }
}

// chat-bot
.chat-bot {
    display: none;
    @include tab {
        display: block;
        position: fixed;
        z-index: 10;
        bottom: 15px;
        right: 10px;
        width: 85px;
        height: 28px;
        line-height: 28px;
        margin: 0 auto;
        font-size: 14px;
        border-radius: 15px;
        color: #fff;
        background-color: #007ae3;
        text-align: center;
        box-shadow: 0 0 16px rgba(0,0,0,.3);
    }
}