//gnb 

.gnb {
    height: 60px;
    position: relative;
    .dept-wrap {
        .dept {
            display: flex;
            justify-content: space-between;
            >li {
                width: 16.6666%;
                >a{
                    display: block;
                    font-family: 'Noto Sans KR';
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 60px;
                    text-align: center;
                    &:hover span{
                        color: #0379d5;
                        border-bottom: 4px solid #0379d5;
                    }
                }
            }
        }
    }
}

// sub-dept

.gnb {
    font-family: 'Noto Sans KR';
    .sub-dept {
        background-color: #fff;
        top: 60px;
        left: 0;
        position: absolute;
        width: 100%;
        // min-height: 250px;
        transition: .5s;
        height: 0;
        overflow: hidden;
        .gnb-text {
            position: absolute;
            height: 400px;
            width: calc(30% - 20px);
            padding: 30px 30px 0 0;
            margin-right: 20px; 
            text-align: right;
            color: #fff;
            background: #eee url(../../assets/images/content/nav_sub.jpg) no-repeat;
            h3 {
                font-size: 24px;
            }
            span {
                font-size: 14px;
                display: block;
                padding-top: 10px;
            }
        }
        >ul {
            width: 100%;
            overflow: hidden;
            padding: 25px 25px 25px 30%;
            min-height: 250px;
            border-top: 1px solid #ddd;
            li {
                float: left;
                width: 180px;
                margin: 8px;
                a {
                    display: block;
                    line-height: 40px;
                    border: 1px solid #ddd;
                    color: #444;
                    text-align: center;
                    &:hover {
                        border-color: #0379d5;
                        color: #0379d5;
                    }
                }
            }
        }
    }
}