/* pc */
@media screen and (max-width: 1300px) {

} //지우지마

/* tablet */
@media screen and (max-width: 1100px) {
body { padding: 0 100px; }
.popup { display: none; }


} //지우지마


/* mobile 320px~ */
@media screen and (max-width: 768px) {

}

@media all and (min-width:768px) {
    /* notice */
    .notice .board-table thead tr th:first-child,
    .notice .board-table thead tr th:nth-child(3),
    .notice .board-table thead tr th:nth-child(4),
    .notice .board-table tbody tr td:first-child,
    .notice .board-table tbody tr td:nth-child(3),
    .notice .board-table tbody tr td:nth-child(4) {
        display: table-cell;
    }
    .notice .board-table thead tr th:first-child {
        width: 10%;
    }
    .notice .board-table thead tr th:nth-child(2) {
        width: 55%;
    }
    .notice .board-table thead tr th:nth-child(3) {
        width: 15%;
    }
    .notice .board-table thead tr th:nth-child(4) {
        width: 10%;
    }
    .notice .board-table thead tr th:nth-child(5) {
        width: 10%;
    }
    .notice .board-table tbody tr td:nth-child(2) {
        text-align: left;
    }

    // product
    .product-review .board-table thead tr th:first-child,
    .product-review .board-table thead tr th:nth-child(3),
    .product-review .board-table thead tr th:nth-child(4),
    .product-review .board-table tbody tr td:first-child,
    .product-review .board-table tbody tr td:nth-child(3),
    .product-review .board-table tbody tr td:nth-child(4) {
        display: table-cell;
    }
    .product-review .board-table thead tr th:first-child {
        width: 50%;
    }
    .product-review .board-table thead tr th:nth-child(2) {
        width: 15%;
    }
    .product-review .board-table thead tr th:nth-child(3) {
        width: 15%;
    }
    .product-review .board-table thead tr th:nth-child(4) {
        width: 20%;
    }
}


/* PC용 CSS */

@media all and (min-width:960px) {
    /* 기본 CSS */
    #wrap {
        position: relative;
        width: 90%;
    }
}