// index page

@media screen and (max-width: 2549px) {
    .main-slide .bg .swiper-bg-prev, .main-slide .bg .swiper-bg-next { display: none; }
}

@media screen and (max-width: 1540px) {
    .guid ul li.guid-list { height: 180px; }
}

@media screen and (max-width: 1300px) {
    body {min-width: 320px;}
} // pc 기본 지우지마

@media screen and (max-width: 1100px) {
.container { padding: 0 20px; }
.popup { display: none; }
.header-info .header-top-util .header-top-util-left .search { border-left: inherit; }
.review .review-wrap .best-text { padding: 0 20px; }
.review .review-slider { max-width: 900px; }

.best .event-item-list ul li a .btn-detail, .event .event-item-list ul li a .btn-detail { font-size: 11px;}

.guid ul li.guid-list { height: 180px; }
.guid .cscenter .tel span:nth-child(2) { font-size: 27px;}
.guid .cscenter .time p { font-size: 11px; }
.guid .faq .faq-list li .time { display: none; }
.guid .bankinfo .banklist em { font-size: 18px;}

.footer-short>ul { margin-left: 20px; }
.footer .footer-info-wrap .footer-info { padding: 0 50px; }
.footer .footer-info-wrap .footer-info .about p { margin: 20px 0;}

} //지우지마

@media screen and (max-width: 1024px) {

} // 태블릿 기본 지우지마

@media screen and (max-width: 986px) {
.review .review-slider { max-width: 750px;}
.review .review-hover-effect .detail-view { display: none; }
} //지우지마

@media screen and (max-width: 910px) {
.guid ul li.guid-list { width: 100%; margin-top: 20px; } 
.guid .faq .faq-list li .time { display:  block;}
.guid .bankinfo .banklist em { text-align: right; }
.footer .footer-info-wrap .footer-info .lg-service { display: none; }
.footer .footer-info-wrap .footer-info .about { text-align: center; }
} //지우지마

@media screen and (max-width: 861px) {
.header-main .container .header-logo .text-area { display: none; }
.header-info .header-top .header-top-short-menu .bookmark, .header-info .header-top .header-top-short-menu .shortcut { display: none; }
.header-info .header-top .header-top-util ul { display: none; }
.header-info .header-top .header-top-util .user { display: block; }
.gnb ul.dept01>li ul.dropdown { display: none; }
.best .best-item-list ul li { width: calc((100% - 60px)/3); margin-right: 30px; }
.best .best-item-list ul li:nth-child(3n+0) { margin-right: 0px; }
.best .best-item-list ul li:nth-child(4n+0) { margin-right: 20px; }
.best .best-item-list ul li:nth-child(n+4) { margin-top: 50px; }
.best .event-item-list ul li a .btn-detail, .event .event-item-list ul li a .btn-detail { display: none; }

.review { height: 230px;}
.review .review-slider { max-width: 650px;} 
.review .review-slider-btn-wrap { height: 120px; }
.best .best-item-list ul li { width: calc((100% - 60px)/3); }
.best .best-item-list ul li:nth-child(3n+0) { margin-right: 0px; }
.best .best-item-list ul li:nth-child(4n+0) { margin-right: 20px; }
.best .best-item-list ul li:nth-child(n+4) { margin-top: 50px; }
} //지우지마

@media screen and (max-width: 768px) {

    // IE & edge / firefox scrollbar
    .gnb { -ms-overflow-style: none; scrollbar-width: none;}

    // chrome, safari, opera scrollbar
    .gnb ul.dept01::-webkit-scrollbar { display: none !important; position: absolute; top: 0; }

    .gnb ul.dept01>li { float: none; width: auto; margin-right: 50px; display: inline-block;}
    .gnb ul.dept01>li ul.dropdown {display: none !important; }
    .gnb .dep2-bg { display: none !important; }

} //모바일 기본 지우지마


@media screen and (max-width: 450px) {
.best .event-item-list ul li, .event .event-item-list ul li { width: inherit; margin: 10px 0; }
} //지우지마

@media screen and (max-width: 333px) {
.guid ul li.guid-list { height: 180px; }
.guid .cscenter .tel span:nth-child(2) { font-size: 24px; }
.guid .bankinfo .banklist em { font-size: 16px;}
.guid .faq .faq-list li { font-size: 11px; }
.footer-short>ul { margin-left: 0; }
} //지우지마


// product page 
@media screen and (max-width: 1100px) { 
.detail-view { margin-top: 70px; }
.detail-view .detail-img-wrap img { width: 100%; }
} //지우지마

@media screen and (max-width: 975px) { 
.product-order .product-option h3 { line-height: 53px; }
.product-order .product-option .product-select .product-first .select2-quantity span.del, .product-order .product-option .product-select .product-second .select2-quantity span.del { margin-left: 0; }
.product-order .product-option .product-select .product-first .select3-price em, .product-order .product-option .product-select .product-second .select3-price em { font-size: 13px; }
.product-order .product-option .product-btn .btn-other a { font-size: 13px;}
}

@media screen and (max-width: 921px) { 
.product-order { flex-wrap: wrap; justify-content: center; }
.product-order .product-option { margin-top: 30px; }
.product-order .product-img { margin-right: 0; width: 100%; }
.product-order .product-img .img-wrap img { width: 100%; }
.product-order .product-option { width: 100%;}
.product-order .product-option h3 { text-indent: 10px; }
}

@media screen and (max-width: 430px) { 
.product>span { margin-top: 50px; }
.product-order .product-img .img-list { display: none; }
.product-review .board-wrap, .qna .qna-board { padding: 0; }
.product-review .board-wrap .board-row .board-table tbody tr td:first-child { padding-left: 10px; }
}

@media screen and (max-width: 371px) { 
.product-order .product-img .img-list { display: none; }
.product-order .product-option h3 { font-size: 23px;}
.product-order .product-option .product-option-price ul li span:nth-child(1) { width: 29%;}
.product-order .product-option .product-color-option span { width: 29%; }
.product-order .product-option .product-notice em, .product-order .product-option .product-notice strong { font-size: 11px; }
}

@media screen and (max-width: 357px) {
.product-order .product-img .img-list-btn { padding: 0 10px;}
.product-order .product-img .img-list-btn a { font-size: 11px }
.product-order .product-option .product-select .product-first span, .product-order .product-option .product-select .product-second span { display: none; }
.product-order .product-option .product-notice img { display: none; }
}

@media screen and (max-width: 354px) {

}

@media screen and (max-width: 334px) {
.header-warp .header-info { padding: 0 !important}
.header-middle .container .header-logo { top: 64px;}

.product-order .product-img .img-list-btn { padding: 0 10px;}
.product-order .product-img .img-list-btn a { font-size: 11px }
.product-order .product-option .product-notice strong { display: inherit; }
.product-order .product-option .product-select .product-first, .product-order .product-option .product-select .product-second { line-height: 24px; }
.product-order .product-option .product-select .product-first span, .product-order .product-option .product-select .product-second span { display: none; }
.product-order .product-option .product-select .product-first .select1-name span { font-size: 11px;}
.product-order .product-option .product-select .product-first .select3-price em, .product-order .product-option .product-select .product-second .select3-price em { font-size:  11px; }
.product-order .product-option .product-btn { font-size: 17px; }

.delivery .delivery-contents, .return .return-contents { padding: 0 20px; }

.guid .faq .faq-list li .time { display: none; }
}