@media screen and (max-width: 768px) {

    body { min-width: 360px; font-size: inherit; background: #fff; }
    
    .pop { width: inherit; transform: inherit; }

    .content p { line-height: 1.31; margin-top: 7%; }
    .content > span { font-size: 1.125em; }

    .gagebar {}
    .middle .gagebar, .middle .gagebar .gage { height: 12px; }
    .middle .percent { margin-left: inherit; }
    .middle .percent span { font-size: 0.67em;}
    .middle .gagebar .percent { font-size: 1.313em; line-height: 19px; right: -66px;}

    .bottom .wait span { margin-top: 25px; }

    .count em { width: 100%; }
    .count em + span { display: inline-block; width: 190px; margin-top: inherit; line-height: 15.75px;}
}
