@media screen and (max-width: 768px) {

    body { min-width: 360px; font-size: inherit; }

    .pop .top h1 img { width: 16.1%; }

    .content p { font-size: 4.375em; line-height: 1.31; margin-top: 7%; }
    .content > span { font-size: 2.250em; }

    .gagebar {}
    .middle .gagebar, .middle .gagebar .gage { height: 24px; }
    .middle .percent span { font-size: 1.327em;}
    .middle .gagebar .percent { font-size: 1.313em; line-height: 19px; right: -66px;}

    .count em { width: 100%; padding: 15px 0;}
}

/* @media screen and (max-width: 768px) {
    body { font-size: 8px; }
} */

/* @media screen and (max-width: 460px) {
    .gagebar { left: 0px; }
} */