<footer> 
    <div class="footer">

        <!-- guid -->
        <div class="guid container">
            <h2 class="blind">가이드 안내</h2>
            <ul>
                <li class="guid-list">
                    <div class="cscenter">
                        <h3><span class="underline">고객</span>센터<span class="en-name"> CS CENTER</span></h3>
                        <div class="tel">
                            <span>전화상담</span>
                            <span>070.4245.0511</span>
                        </div>
                        <div class="time">
                            <p>상담시간 : 09:00 ~ 17:00&nbsp;&nbsp;&nbsp;&nbsp;점심시간 : 12:30 ~ 13:30<br>토, 일, 공휴일은 휴무입니다.</p>
                        </div>
                    </div>
                </li>
                <li class="guid-list">
                    <div class="bankinfo">
                        <h3><span class="underline">입금</span>정보<span class="en-name"> BANK INFO</span></h3>
                        <div class="banklist">
                            <span>기업은행</span><em class= "industrial">492-016854-01-010</em><br>
                            <span>농협은행</span><em class="nh">317000-21-70061</em><br>
                            <span>예금주</span><em class="account">(주)모닝듀</em>
                        </div>
                    </div>
                </li>
                <li class="guid-list">
                    <div class="faq">
                        <h3><span class="underline">자주</span> 묻는 질문<span class="en-name"> FAQ</span></h3>
                        <ul class="faq-list">
                            <li>
                                <a href="#">· 세금계산서를 발급 받고 싶습니다.</a>
                                <span class="time">2016-12-31</span>
                            </li>
                            <li>
                                <a href="#">· 세금계산서를 발급 받고 싶습니다.</a>
                                <span class="time">2016-12-31</span>
                            </li>
                            <li>
                                <a href="#">· 세금계산서를 발급 받고 싶습니다.</a>
                                <span class="time">2016-12-31</span>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- //guid -->
        
        <!-- footer-short -->
        <div class="footer-short">
            <ul class="container">
                <li><a href="#">홈 </a></li>
                <li><a href="#">회사소개 </a></li>
                <li><a href="#">이용약관 </a></li>
                <li class="bold"><a href="#">개인정보취급방침 </a></li>
                <li><a href="#">이용안내 </a></li>
            </ul>
        </div>
        <!-- //footer-short -->

        <!-- footer-info -->
        <div class="footer-info-wrap">
            <div class="footer-info container">
                <div class="about">
                    <img src="img/logo/logo_g.png" alt="모닝듀 로고">
                    <p>(주)모닝듀 | 대표 : 김영효(김기준) | 소재지 : 72852 경기도 남양주시 수동면 비룡로 654-38 주식회사 모닝듀<br>
                        전화 : 070-4245-0511 | 팩스 : 031-592-2263 | 개인정보관리책임자 : 김영효(kkkj0511@naver.com)<br>
                        사업자등록번호 : 132-81-89238 | 통신판매업신고 : 제2010-경기남양주-0486호 [사업자정보확인]<br>
                        Copyright © 2015 기본 쇼핑몰. All rights reserved.
                    </p>
                </div>
                <div class="lg-service">
                    <img src="img/banner/lg_service.png" alt="LG U+ 매매보호(에스크로) 서비스">
                </div>
            </div>
        </div>
        <!-- //footer-info -->
        
    </div>
</footer>