<!-- gnb -->
 <nav class="gnb clear">
        <div class="gnb-line">
            <h2 class="blind">메뉴</h2>
            <div class="mo-hamburger">
                <i class="xi-bars"></i>
            </div>
            <div id="moMenu">
                <ul>
                    <li><a href="">매일매일 이벤트</a></li>
                    <li><a href="">천연펄프 화장지</a></li>
                    <li><a href="">디스펜서·케이스</a></li>
                    <li><a href="">친환경해충포획퇴치기</a></li>
                    <li><a href="">고객센터</a></li>
                </ul>
            </div>
            <ul class="dept01 container">
                <li class="menuhover">
                    <a class="hover-green" href="#">매일매일 이벤트</a>
                    <ul class="dropdown gnb0" >
                        <li><a href="#none">공지사항0</a></li>
                        <li><a href="#none">이벤트</a></li>
                        <li><a href="#none">상품후기</a></li>
                        <li><a href="#none">QNA</a></li>
                        <li><a href="#none">FAQ</a></li>
                    </ul>
                </li>
                <li class="menuhover">
                    <a href="#none">천연펄프 화장지</a>
                    <ul class="dropdown gnb1" >
                        <li><a href="#none">공지사항1</a></li>
                        <li><a href="#none">이벤트</a></li>
                        <li><a href="#none">상품후기</a></li>
                        <li><a href="#none">QNA</a></li>
                        <li><a href="#none">FAQ</a></li>
                    </ul>
                </li>
                <li class="menuhover">
                    <a href="#none">디스펜서·케이스</a>
                    <ul class="dropdown gnb2" >
                        <li><a href="#none">공지사항2</a></li>
                        <li><a href="#none">이벤트</a></li>
                        <li><a href="#none">상품후기</a></li>
                        <li><a href="#none">QNA</a></li>
                        <li><a href="#none">FAQ</a></li>
                    </ul>
                </li>
                <li class="menuhover">
                    <a href="#none">친환경해충포획퇴치기</a>
                    <ul class="dropdown gnb3" >
                        <li><a href="#none">공지사항3</a></li>
                        <li><a href="#none">이벤트</a></li>
                        <li><a href="#none">상품후기</a></li>
                        <li><a href="#none">QNA</a></li>
                        <li><a href="#none">FAQ</a></li>
                    </ul>
                </li>
                <li class="menuhover">
                    <a href="#none">고객센터</a>
                    <ul class="dropdown gnb4" >
                        <li><a href="#none">공지사항4</a></li>
                        <li><a href="#none">이벤트</a></li>
                        <li><a href="#none">상품후기</a></li>
                        <li><a href="#none">QNA</a></li>
                        <li><a href="#none">FAQ</a></li>
                    </ul>
                </li>
            </ul>
            <div class="dep2-bg">
            </div>
        </div>
</nav>
<!-- //gnb -->
    