// 공통클래스

.db { display: block !important; }
.dn { display: none !important; }

// popup
.popup {
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(8px); 
    background-color: rgba(0,0,0,.4);
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
}

.pop-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 10px 15px;
    h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 48px;
        margin-bottom: 24px;
    }
}


//btn
.btn-open { 
    background-color: $pink;
    line-height: 100px;
    padding: 0 20px;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 10px;
    &:hover {
        color: #413731;
        transition: .5s;
    }
}

.btn-close {
    border: none;
    position: absolute;
    top: 20px; 
    right: 20px;
    @include btn;
}

.btn-common-close {
    position: inherit;
    color: #000;
    line-height: 50px;
    border: 2px solid #000;
    margin-right: 16px;
    @include btn;
}

.btn-common-print {
    line-height: 54px;
    border: none;
    background-color: #000 !important;
    color: #fff;
    @include btn;
}

.cash-common { height: 36px; line-height: 36px;}


// lh, text-align, padding
.tac { text-align: center; }
.tar { text-align: right; }
.ti9999 { text-indent: -9999px; }
.lh51 { line-height: 51px; padding-left: 450px;}
.lh23 { line-height: 23px; }
.lh35 { line-height: 35px; }
.lh37 { line-height: 37px; }
.lh40 { line-height: 40px; }
.pl5 { padding-left: 5px; }
.pt3 { padding-top: 3px; }

// width class
.w14 { width: 13px; }
.w17 { width: 17px; }
.w18 { width: 18px; }
.w20 { width: 20px; }
.w32 { width: 32px; }
.w36 { width: 36px; }
.w40 { width: 40px; }
.w45 { width: 45px; }
.w50 { width: 50px; }
.w53 { width: 53px; }
.w62 { width: 62px; }
.w80 { width: 80px; }
.w85 { width: 85px; }
.w73 { width: 73px; }
.w90 { width: 90px; }
.w92 { width: 92px; }
.w95 { width: 95px; }
.w100 { width: 100px; }
.w120 { width: 120px;}
.w110 { width: 110px; }
.w140 { width: 140px; }
.w155 { width: 155px; }
.w173 { width: 173px; }
.w215 { padding-left: 5px; width: 215px; }
.w222 { width: 222px; }
.w230 { width: 230px;}
.w242 { width: 242px; }
.w493 { width: 493px; }

//height class
.h20 { height: 20px; }
.h30 { height: 30px; }
.h35 { height: 35px; }
.h37 { height: 37px; }
.h30-lh30 { height: 30px; line-height: 30px;}
.h30-404 { height: 30px; width: 404px;}

