html { font-size: 62.5%; }

.contents {
    position: relative;
}

// index
.main-btn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-tax-open {
        margin-right: 50px; 
    }
}

// tax
.tax {
    .tax-footer-text {
        margin-top: 24px;
        margin-bottom: 32px;
        line-height: 20px;
        font-size: 1.2rem;
    }
}


.tax-contents {
    position: relative;
    .img-wrap {
        img {
            max-width: 640px;
        }
    }
}

// tax-table
.tax-contents {
    #bodyTable {
        position: absolute;
        top: 0px;
    }
    .supply {
        line-height: 31px;
    }
    .supply2 {
        height: 47px;
        td {
            vertical-align: middle; 
        }
    }
}

// cash



// print
@media print {
    h1, .tax-footer-text, .footer-btn { display: none; }
};