html { font-size: 62.5%; }

.contents {
    position: relative;
}

.main-btn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-tax-open {
        margin-right: 50px; 
    }
}

.tax-contents {
    position: relative;
}

// tax-table
.tax-contents {
    #bodyTable {
        position: absolute;
        top: 0px;
    }
    .supply {
        line-height: 31px;
    }
    .supply2 {
        height: 47px;
        td {
            vertical-align: middle; 
        }
    } 
}
