/* mobile 320px~ */
@media screen and (max-width: 768px) {

  body { min-width: 360px; }

  .inner { width: inherit; padding: 0 20px; }
  .top { height: 104px; }
  .top h1 { right: 0; bottom: 51px; }

  .main_content { margin-top: 27px; }
  .main_content .main_left img { width: 49.5px; }
  .main_content .main_right { margin: 0px 0px 0px 25px; float: inherit; margin: auto; }
  .main_content .main_right p { line-height: 1.24; margin-left: 12.75px; display: inline-block; font-size: 20px;}
  .main_content .main_right .main_right_bottom { text-align: center; }
  .main_content .main_right .main_right_bottom>span { font-size: 15.25px;  }
  .main_content .main_right .main_right_bottom a { font-size: 13.75px; padding: 13px 47.5px; }

  .main_bottom { padding: 15.5px 18px; }
  .main_bottom .bottom_wrap {} 
  .main_bottom .img_wrap { float: right; }
  .main_bottom .text_wrap { float: inherit; margin-left: 0; }
  .main_bottom .text_wrap p { font-size: 14px;}
  .main_bottom .text_wrap strong { font-size: 12px; }
  .main_bottom .text_wrap strong em { font-weight: bold; }
}
